/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgb(83, 86, 255) 0%, rgb(55, 140, 231) 35%, rgb(103, 198, 227) 100%) !important;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 80px;

}

.error-message {
    color: red;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .container {
        margin-bottom: 60px;
        /* Adjust gap for smaller screens */
    }
}

.container .forms {
    display: flex;
    align-items: center;
    height: 500px;
    width: 200%;
    transition: height 0.25s ease;
    padding-top: 100px;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.25s ease;

}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.25s ease, opacity 0.15s ease;

}

.container .signup {
    opacity: 0;
    transition: opacity 0.25s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.container.active .forms {
    height: 700px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.25s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #4070f4;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.25s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: #4070f4;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #4070f4;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button input:hover {
    background-color: #265df2;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 120px;
}

.container .form.signup .title {
    position: relative;
    top: 20px;
    z-index: 1;

}


.register {
    text-align: center;
    color: red;
}

.register a {
    font-weight: 500;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* footer */

.container-fo {
    max-width: 1170px;
    margin: auto;
}

.row-fo {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    color: #ffffff;
    margin-top: 250px;
    width: 100%;

}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* footer end */

#workingarea {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 40px;

}

#nav img {
    height: 100px;

}

#nleft {
    display: flex;
    align-items: center;
    gap: 50px;
}

@media (max-width: 800px) {
    #workingarea {
        width: 90%;
    }


    #nav {
        padding: 10px 0;
    }

    #nav img {
        height: 40px;
    }

    #nleft,
    #nright {
        flex-direction: row;
        gap: 20px;
    }
}