@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #4070f4;
     background: linear-gradient(90deg, rgb(83, 86, 255) 0%, rgb(55, 140, 231) 35%, rgb(103, 198, 227) 100%) !important;
    padding: 20px;
  }

  .container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  h1{
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: bold;
  }

  h2{
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
  }

  p{
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 65px;
    margin-top: 28px;
  }
  .close-icon:hover {
    color: #f5f2f2;
    cursor: pointer;
  }

  img{
    height: 65px;
    width: 65px;
    margin-top: 0px;
    margin-left: 20px;
  }
  
